.secrets
_output/
myKubeACS.json
myKubeAzureNet.json
myKubeCalico.json
rbacConfig
translations/
helm/
draft/
kuberesources/aciConnector.yaml
kuberesources/deamonSetOMS.yaml
kuberesources/rbacConfig
kuberesources/key.pem
kuberesources/cert.pem
kuberesources/auth
kuberesources/scaler/
kuberesources/oauth2-proxy.yaml
dbPassword.txt
storageKey.txt
istio/istio*
kuberesources/dbpassword
kuberesources/azure
bus-sender/obj/
bus-sender/bin/
bus-receiver/obj/
bus-receiver/bin/
kuberesources/AZURE_CLIENT_ID
kuberesources/AZURE_CLIENT_SECRET
aks.code-workspace
kuberesources/identity1.yaml
devspaces/frontend/.dockerignore
devspaces/frontend/Dockerfile
devspaces/frontend/azds.yaml
devspaces/frontend/charts/
devspaces/backend/.dockerignore
devspaces/backend/Dockerfile
devspaces/backend/azds.yaml
devspaces/backend/charts/
