.secrets
_output/
myKubeACS.json
myKubeAzureNet.json
myKubeCalico.json
rbacConfig
translations/
helm/
draft/
kuberesources/aciConnector.yaml
kuberesources/deamonSetOMS.yaml
kuberesources/rbacConfig
kuberesources/key.pem
kuberesources/cert.pem
dbPassword.txt
storageKey.txt